header .contato-div {
    background-color: #117f76;
    color: $primary-color;
    font-weight: bold;
    font-size: 18px;
    padding: 7px;
    text-align: right;
}

header .menu-principal {
    background-color: $cor-principal;
    color: $primary-color;
    padding: 5px;
}

header:after {
    content: ' ';
    width: 100%;
    background-image: url('../img/header-shadow.png');
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center top;
    display: block;
    position: relative;
    height: 50px;
}

header .menu-interno {
    text-align: right;
}

header #menu ul li {
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
}