header .contato-div {
    background-color: #FFFFFF;
    color: #15968D;
    font-size: 18px;
    padding: 7px;
    text-align: right;
}

header .menu-principal {
    background-color: #FFFFFF;
    color: #B2B2B2;
    padding: 5px;
}

header:after {
    content: ' ';
    width: 100%;
    background-image: url('/arquivos/header-shadow.png');
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center top;
    display: block;
    position: relative;
    height: 50px;
}

header .menu-interno {
    text-align: right;
}

header #menu ul li {
    margin-right: 30px;
    font-size: 14px;
    display: inline-table;
    vertical-align: middle;  
}
@media all and (max-width: 1366px) and (min-width: 1000px) {
    header #menu ul li {
      margin-right: 22px!important;
    }
  }
header #menu ul {
    margin-top: 0.5em;
}

header #menu ul li a {
    color: #878787;
    vertical-align: middle;
    display: block;
}

header .logo a {
    display: block;
}

header #menu ul li a.linksmenu:hover {
    border-bottom: 2px solid #15968D;
}

header #menu ul li a.linksmenu:active {
    border-bottom: 2px solid $primary-color;
}

header #menu ul .login-action a {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2), 2px 2px 2px 1px rgba(0, 0, 0, 0.19);
    width: 110px !important;
    text-align: center;
    width: 100%;
    color: #FFFFFF!important;
    border-radius: 25px;
    padding: 8px;
    margin-top: 0.2em;
    background-color: $action-color;
}

.logo img {
    width: 40%;
    margin-top: 0.7em;
}

body > header > div.container-fluid.contato-div.margin-reset > div {
font-size: 14px!important;
}