<footer>
    <div class="container-fluid margin-reset main-menu-footer">
        <div class="col-md-6">
            <div class="container-fluid margin-reset">
                <div class="col-md-3">
                    <h3>REDUÇÃO DE VOLUME</h3>
                    <ul>
                        <li>
                            <a href="/redutores-de-volume/grand-cru">The Grand Cru</a>
                        </li>
                        <li>
                            <a href="/redutores-de-volume/btx-orghanic?PS=18">BTX Organich</a>
                        </li>
                        <li>
                            <a href="/redutores-de-volume/btx-platinum?PS=18">BTX Platinum</a>
                        </li>
                        <li>
                            <a href="/redutores-de-volume/blindagem-3d">Blindagem 3D</a>
                        </li>
                        <li>
                            <a href="/redutores-de-volume/shield">Shield Blindagem Dinâmica</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3>HIDRATAÇÃO</h3>
                    <ul>
                        <li>
                            <a href="/mascara-hidratacao-hydra-special-verniz/p">Máscara banho de verniz</a>
                        </li>
                        <li>
                            <a href="/shampoo-banho-de-verniz/p">Shampoo banho de verniz</a>
                        </li>
                        <li>
                            <a href="/mascara-hidratacao-nanno-bio-technology">Nano Bio Technology</a>
                        </li>
                        <li>
                            <a href="/mascara-hidratacao-hydra-special-abacate-mel/p">Hydra special - abacate e mel</a>
                        </li>
                        <li>
                            <a href="/mascara-hidratacao-hydra-special-de-quiabo/p">máscara de quiabo</a>
                        </li>
                        <li>
                            <a href="/shampoo-hidratacao-quiabo/p">shampoo de verniz</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3>RESTAURAÇÃO</h3>
                    <ul>
                        <li>
                            <a href="/creminhodahora/p">creminho da hora</a>
                        </li>
                        <li>
                            <a href="/restauracao/no%20crash">no crash power dose</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3>LINHA CACHOS</h3>
                    <ul>
                        <li>
                            <a href="/kitgarotascomcachos/p">kit garota com cachos</a>
                        </li>
                        <li>
                            <a href="/garotascomcachosstp2/p">ativador de cachos</a>
                        </li>
                        <li>
                            <a href="/garotascomcachosstp1/p">higienizador CO-WASH</a>
                        </li>
                        <li>
                            <a href="/gelatinacapilar/p">gelatina capilar</a>
                        </li>
                        <li>
                            <a href="/garotascomcachosstp4/p">Leave-in Flash</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="container-fluid margin-reset">
                <div class="col-md-3">
                    <h3>TRATAMENTO</h3>
                    <ul>
                        <li>
                            <a href="/detox-capilar-plancton/p">DETOX - OXIGENAÇÃO CAPILAR</a>
                        </li>
                        <li>
                            <a href="/whey-protein-capilar/p">WHEY PROTEIN CAPILAR</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3>MATIZADORES</h3>
                    <ul>
                        <li>
                            <a href="/matizerblond/p">MATIZER BLOND</a>
                        </li>
                        <li>
                            <a href="/matizerred/p">MATIZER RED</a>
                        </li>
                        <li>
                            <a href="/matizersilver/p">MATIZER SILVER</a>
                        </li>
                        <li>
                            <a href="/matizerblack/p">MATIZER BLACK</a>
                        </li>
                        <li>
                            <a href="/matizermarsala/p">MATIZER MARSALA</a>
                        </li>
                        <li>
                            <a href="/matizergranny/p">MATIZER GRANNY</a>
                        </li>
                        <li>
                            <a href="/matizergold/p">MATIZER GOLD</a>
                        </li>
                        <li>
                            <a href="/matizerruivy/p">MATIVER RUIVY</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3>DESCOLORAÇÃO</h3>
                    <ul>
                        <li>
                            <a href="/descoloracao/creme%20oxidante">OX llumina - Creme Oxidante Estabilizado</a>
                        </li>
                        <li>
                            <a href="/descoloracao/po%20descolorante">llumina - Pó Descolarante</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3>FINALIZADORES</h3>
                    <ul>
                        <li>
                            <a href="/finalizadores/shine">Shine - Silver e Gold</a>
                        </li>
                        <li>
                            <a href="/finalizadores/argain%20oil">Argan Oil - Finalizador</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid margin-reset menu-footer-2">
        <div class="col-md-6">
            <div class="col-md-4">
                <h3>SEJA UM DISTRIBUIDOR</h3>
                <ul>
                    <li>
                        <a href="">Shine - Silver e Gold</a>
                    </li>
                    <li>
                        <a href="">Argan Oil - Finalizador</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>ATENDIMENTO</h3>
                <ul>
                    <li>
                        <a href="/institucional/quem-somos">Sobre a plancton</a>
                    </li>
                    <li>
                        <a href="/ajuda-suporte/politica-de-privacidade">Política de privacidade</a>
                    </li>
                    <li>
                        <a href="/ajuda-suporte/politica-de-troca">Política de troca</a>
                    </li>
                    <li>
                        <a href="/ajuda-suporte/onde-encontrar">Onde encontrar</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>SUA CONTA</h3>
                <ul>
                    <li>
                        <a href="/login">cADASTRE-SE</a>
                    </li>
                    <li>
                        <a href="/account/orders">meus pedidos</a>
                    </li>
                    <li>
                        <a href="/account">minha conta</a>
                    </li>
                </ul>

            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-4">
                <h3>PAGAMENTO</h3>
                <ul>
                    <li>
                        <a href="">
                            <img src="/arquivos/footer-pagamento.png" />
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 seguranca">
                <h3>COMPRA SEGURA</h3>
                <ul>
                    <li>
                        <a href="">
                            <img src="/arquivos/footer-digicert.png" />
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="/arquivos/footer-pci.png" />
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 div-redes-footer">
                <h3>REDES SOCIAIS</h3>
                <ul class="redes-footer">
                    <li>
                        <a target="_blank" href="https://www.facebook.com/planctonprofessionaloficial">
                            <img src="/arquivos/footer-face.png" />
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.instagram.com/planctonprofessional/">
                            <img src="/arquivos/footer-insta.png" />
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="/arquivos/footer-youtube.png" />
                        </a>
                    </li>
                </ul>
                <ul class="telefones-footer">
                    <li>
                        <a href="">
                            (21) 2791-2525
                        </a>
                    </li>
                    <li>
                        <a href="">
                            (21) 96411-5070
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid margin-reset copyright">
        <div class="col-md-6">
            <p>2017 - TODOS OS DIREITOS RESERVADOS - CABELOS COSMÉTICOS LTDA CNPJ: 19.481.428/00001-21</p>
        </div>
        <div class="col-md-3 pull-right">
            <P>Desenvolvido por:</P>
            <p>
                <img src="/arquivos/logo-click.png" alt="Click Soft" />
            </p>
        </div>
    </div>
</footer>