<footer>
    <div class="container-fluid margin-reset main-menu-footer">
        <div class="col-md-6">
            <div class="container-fluid margin-reset">
                <div class="col-md-3">
                    <h3>REDUÇÃO DE VOLUME</h3>
                    <ul>
                        <li>
                            <a href="">The Grand Cru</a>
                        </li>
                        <li>
                            <a href="">BTX Organich</a>
                        </li>
                        <li>
                            <a href="">BTX Platinum</a>
                        </li>
                        <li>
                            <a href="">Blindagem 3D</a>
                        </li>
                        <li>
                            <a href="">Shield Blindagem Dinâmica</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3>HIDRATAÇÃO</h3>
                    <ul>
                        <li>
                            <a href="">Máscara banho de verniz</a>
                        </li>
                        <li>
                            <a href="">Shampoo banho de verniz</a>
                        </li>
                        <li>
                            <a href="">Nano Bio Technology</a>
                        </li>
                        <li>
                            <a href="">Hydra special - abacate e mel</a>
                        </li>
                        <li>
                            <a href="">máscara de quiabo</a>
                        </li>
                        <li>
                            <a href="">shampoo de verniz</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3>RESTAURAÇÃO</h3>
                    <ul>
                        <li>
                            <a href="">creminho da hora</a>
                        </li>
                        <li>
                            <a href="">no crash power dose</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3>LINHA CACHOS</h3>
                    <ul>
                        <li>
                            <a href="">kit garota com cachos</a>
                        </li>
                        <li>
                            <a href="">ativador de cachos</a>
                        </li>
                        <li>
                            <a href="">higienizador CO-WASH</a>
                        </li>
                        <li>
                            <a href="">gelatina capilar</a>
                        </li>
                        <li>
                            <a href="">Leave-in Flash</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="container-fluid margin-reset">
                <div class="col-md-3">
                    <h3>TRATAMENTO</h3>
                    <ul>
                        <li>
                            <a href="">DETOX - OXIGENAÇÃO CAPILAR</a>
                        </li>
                        <li>
                            <a href="">WHEY PROTEIN CAPILAR</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3>MATIZADORES</h3>
                    <ul>
                        <li>
                            <a href="">MATIZER BLOND</a>
                        </li>
                        <li>
                            <a href="">MATIZER RED</a>
                        </li>
                        <li>
                            <a href="">MATIZER SILVER</a>
                        </li>
                        <li>
                            <a href="">MATIZER BLACK</a>
                        </li>
                        <li>
                            <a href="">MATIZER MARSALA</a>
                        </li>
                        <li>
                            <a href="">MATIZER GRANNY</a>
                        </li>
                        <li>
                            <a href="">MATIZER GOLD</a>
                        </li>
                        <li>
                            <a href="">MATIVER RUIVY</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3>DESCOLORAÇÃO</h3>
                    <ul>
                        <li>
                            <a href="">OX llumina - Creme Oxidante Estabilizado</a>
                        </li>
                        <li>
                            <a href="">llumina - Pó Descolarante</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3>FINALIZADORES</h3>
                    <ul>
                        <li>
                            <a href="">Shine - Silver e Gold</a>
                        </li>
                        <li>
                            <a href="">Argan Oil - Finalizador</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid margin-reset menu-footer-2">
        <div class="col-md-6">
            <div class="col-md-4">
                <h3>SEJA UM DISTRIBUIDOR</h3>
                <ul>
                    <li>
                        <a href="">Shine - Silver e Gold</a>
                    </li>
                    <li>
                        <a href="">Argan Oil - Finalizador</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>ATENDIMENTO</h3>
                <ul>
                    <li>
                        <a href="">Sobre a plancton</a>
                    </li>
                    <li>
                        <a href="">Política de privacidade</a>
                    </li>
                    <li>
                        <a href="">Política de troca</a>
                    </li>
                    <li>
                        <a href="">Onde encontrar</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>SUA CONTA</h3>
                <ul>
                    <li>
                        <a href="">cADASTRE-SE</a>
                    </li>
                    <li>
                        <a href="">meus pedidos</a>
                    </li>
                    <li>
                        <a href="">minha conta</a>
                    </li>
                </ul>

            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-4">
                <h3>PAGAMENTO</h3>
                <ul>
                    <li>
                        <a href="">
                            <img src="/arquivos/footer-pagamento.png" />
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 seguranca">
                <h3>COMPRA SEGURA</h3>
                <ul>
                    <li>
                        <a href="">
                            <img src="/arquivos/footer-digicert.png" />
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="/arquivos/footer-pci.png" />
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 div-redes-footer">
                <h3>REDES SOCIAIS</h3>
                <ul class="redes-footer">
                    <li>
                        <a href="">
                            <img src="/arquivos/footer-face.png" />
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="/arquivos/footer-insta.png" />
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="/arquivos/footer-youtube.png" />
                        </a>
                    </li>
                </ul>
                <ul class="telefones-footer">
                    <li>
                        <a href="">
                            (21) 2791-2525
                        </a>
                    </li>
                    <li>
                        <a href="">
                            (21) 96411-5070
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid margin-reset copyright">
        <div class="col-md-6">
            <p>2017 - TODOS OS DIREITOS RESERVADOS - CABELOS COSMÉTICOS LTDA CNPJ: 19.481.428/00001-21</p>
        </div>
        <div class="col-md-3 pull-right">
            <P>Desenvolvido por:</P>
            <p>
                <img src="/arquivos/logo-click.png" alt="Click Soft" />
            </p>
        </div>
    </div>
</footer>