<header class="row margin-reset animated bounceInLeft">
    <div class="container-fluid contato-div margin-reset">
        <div style="text-align: center;" class="col-md-3 pull-right margin-reset">
            Televendas: (21) 2137-3540
        </div>
    </div>
    <div class="row menu-principal margin-reset">
        <div style="padding-top: 18px!important;" class="container-fluid margin-reset">
            <div class="col-md-4 pull-left logo">
                <a href="/">
                    <img src="/arquivos/logo-plancton.png" class="img-responsive" />
                </a>
            </div>
            <div class="col-md-8 menu-interno pull-right padding-reset">
                <nav id="menu">
                    <ul class="padding-reset">
                        <li>
                            <a class="linksmenu" href="">Home</a>
                        </li>
                        <li>
                            <a class="linksmenu" href="">Blog</a>
                        </li>
                        <li>
                            <a class="linksmenu" href="">Sobre a Empresa</a>
                        </li>
                        <li>
                            <a class="linksmenu" href="">Onde Encontrar</a>
                        </li>
                        <li>
                            <a class="linksmenu" href="">Fale Conosco</a>
                        </li>
                        <li class="search-action">
                            <a href="">
                                <img class="img-responsive" src="/arquivos/search.png" />
                            </a>
                        </li>
                        <li class="cart-action">
                            <a href="">
                                <img class="img-responsive" src="/arquivos/cart-icon.png" />
                            </a>
                        </li>
                        <li class="login-action">
                            <a href="">
                                LOGIN
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>