<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce"
    lang="en-us">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <vtex:template id="2018-styles-plancton" />
    <title>Home Plancton Produtos</title>
</head>

<body>
    <!--Header-->
    <vtex:template id="2018-plancton-header" />
    <!--Header-->
    <div class="row margin-reset qualSeuTipo animated bounceInRight">
        <div class="container">
            <div class="col-md-5">
                <h1>
                    <strong>QUAL SEU TIPO DE CABELO?</strong>
                </h1>
            </div>
            <div class="col-md-7 tipos-de-cabelo">
                <div class="">
                    <img src="/arquivos/tipos-1.png" alt="" />
                </div>
                <div class="">
                    <img src="/arquivos/tipos-2.png" alt="" />
                </div>
                <div class="">
                    <img src="/arquivos/tipos-3.png" alt="" />
                </div>
                <div class="">
                    <img src="/arquivos/tipos-4.png" alt="" />
                </div>
                <div class="">
                    <img src="/arquivos/tipos-1.png" alt="" />
                </div>
                <div class="">
                    <img src="/arquivos/tipos-2.png" alt="" />
                </div>
                <div class="">
                    <img src="/arquivos/tipos-3.png" alt="" />
                </div>
                <div class="">
                    <img src="/arquivos/tipos-4.png" alt="" />
                </div>
            </div>
        </div>
    </div>
    <div class="row margin-reset banner-principal padding-reset">
        <div>
            <img class="img-responsive" src="/arquivos/banner-principal.png" alt="" />
        </div>
        <div>
            <img class="img-responsive" src="/arquivos/banner-principal.png" alt="" />
        </div>
        <div>
            <img class="img-responsive" src="/arquivos/banner-principal.png" alt="" />
        </div>
    </div>
    <div class="row margin-reset banner-tips padding-reset"></div>
    <div class="row margin-reset tratamentoCorreto">
        <div class="container">
            <div class="col-md-5">
                <h1>
                    <strong>TRATAMENTO CORRETO PARA:</strong>
                </h1>
            </div>
            <div class="col-md-7 banner-tratamento padding-reset">
                <div>
                    <img src="/arquivos/banner-1.png" />
                </div>
                <div>
                    <img src="/arquivos/banner-2.png" />
                </div>
                <div>
                    <img src="/arquivos/banner-3.png" />
                </div>
                <div>
                    <img src="/arquivos/banner-4.png" />
                </div>
                <div>
                    <img src="/arquivos/banner-1.png" />
                </div>
                <div>
                    <img src="/arquivos/banner-2.png" />
                </div>
                <div>
                    <img src="/arquivos/banner-3.png" />
                </div>
                <div>
                    <img src="/arquivos/banner-4.png" />
                </div>
            </div>
        </div>
    </div>
    <div class="row margin-reset" id="destaques-home">
        <h1>DESTAQUES</h1>
        <div class="divider"></div>
        <div class="container">
            <div class="col-md-12 padding-reset slider-default">
                <div class="container-fluid">
                    <!--  placeholder -->
                    <vtex:contentPlaceHolder id="colection-destaques" />
                    <!-- /placeholder -->
                </div>
            </div>
        </div>
    </div>
    <div class="row margin-reset" id="mais-vendidos-home">
        <h1>MAIS VENDIDOS</h1>
        <div class="divider"></div>
        <div class="container">
            <div class="col-md-12 padding-reset slider-default">
                <div class="container-fluid">
                    <!--  placeholder -->
                    <vtex:contentPlaceHolder id="colection-mais-vendidos" />
                    <!-- /placeholder -->
                </div>
            </div>
        </div>
    </div>
    <div class="row margin-reset" id="mais-vendidos-home">
        <h1>NOSSOS KITS</h1>
        <div class="divider"></div>
        <div class="container">
            <div class="col-md-12 padding-reset slider-default">
                <div class="container">
                    <!--  placeholder -->
                    <vtex:contentPlaceHolder id="colection-nossos-kits" />
                    <!-- /placeholder -->
                </div>
            </div>
        </div>
    </div>
    <div class="row margin-reset" id="bloco-destaque">
        <div class="container-fluid">
            <div class="col-md-6 padding-reset">
                <div class="jumbotron uso-diario">
                    <p>CONFIRA TODOS OS PRODUTOS DA LINHA</p>
                    <h1>USO DIÁRIO</h1>
                    <p>
                        <a class="btn btn-primary btn-lg" href="#" role="button">VER PRODUTOS</a>
                    </p>
                </div>
            </div>
            <div class="col-md-6 padding-reset">
                <div class="jumbotron uso-profissional">
                    <p>CONFIRA TODOS OS PRODUTOS DA LINHA</p>
                    <h1>PROFISSIONAL</h1>
                    <p>
                        <a class="btn btn-primary btn-lg" href="#" role="button">VER PRODUTOS</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row margin-reset" id="bloco-novidades">
        <div class="container">
            <h1>NOVIDADES</h1>
            <div class="col-md-4">
                <img src="/arquivos/banner-novidades.png" />
            </div>
            <div class="col-md-4">
                <img src="/arquivos/banner-novidades.png" />
            </div>
            <div class="col-md-4">
                <img src="/arquivos/banner-novidades.png" />
            </div>
        </div>
    </div>
    <div class="row margin-reset" id="bloco-redes">
        <div class="container">
            <div class="col-md-12">
                <ul>
                    <li>
                        <a href="https://www.facebook.com/planctonprofessionaloficial">
                            <img src="/arquivos/faceico.png" />
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/planctonprofessional/">
                            <img src="/arquivos/ico-instagram.png" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!--Footer-->
    <vtex:template id="2018-plancton-footer" />
    <!--Footer-->

    <!--Scripts-->
    <vtex:template id="2018-scripts-plancton" />
    <!--Scripts-->
</body>

</html>