<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce"
    lang="en-us">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <vtex:template id="2018-styles-plancton" />
    <title>Institucional - Plancton</title>
</head>

<body>
    <!--Header-->
    <vtex:template id="2018-plancton-header" />
    <!--Header-->
    <div class="row margin-reset conteudo-institucional animated bounceInRight">
        <div class="container">
            <!-- Institucional -->
            <vtex:contentPlaceHolder id="texto-institucional" />
            <!-- /.Institucional -->
        </div>
    </div>
    <!--Footer-->
    <vtex:template id="2018-plancton-footer" />
    <!--Footer-->

    <!--Scripts-->
    <vtex:template id="2018-scripts-plancton" />
    <!--Scripts-->
</body>

</html>