<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce"
    lang="en-us">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <vtex:metaTags/>
    <vtex:template id="2018-styles-plancton" />
    <title>Home Plancton Produtos</title>
</head>

<body>
    <!--Header-->
    <vtex:template id="2018-plancton-header" />
    <!--Header-->

    <div class="row margin-reset">
        <div class="container">
            <div class="col-md-6">
                <vtex.cmc:ProductImage/>
            </div>
            <div class="col-md-5">
                <div class="nome-produto">
                    <vtex.cmc:productName/>
                </div>
                <div class="avaliacao-produto">
                    <vtex.cmc:evaluationRate/>
                </div>
                <div class="preco-produto">
                    <vtex.cmc:skuPrice/>
                </div>
                <div class="comprar-produto">
                    <vtex.cmc:BuyButton/>
                </div>
                <div class="frete-produto">
                    <vtex.cmc:shippingValue/>
                </div>
            </div>
        </div>
    </div>
    <div class="row margin-reset descricao-produto">
        <h1>
            DESCRIÇÃO
        </h1>
        <div class="container">
            <div class="descricao-texto">
                <vtex.cmc:ProductDescription/>
            </div>
        </div>
    </div>
    <div class="row margin-reset avaliacao-consumidor">
        <div class="container">
            <vtex.cmc:UserReview/>
        </div>
    </div>
    <div class="row margin-reset" id="veja-tambem">
        <h1>VEJA TAMBÉM</h1>
        <div class="container">
            <div class="col-md-12 padding-reset slider-default">
                <div class="container-fluid">
                    <!--  placeholder -->
                    <vtex:contentPlaceHolder id="colection-destaques" />
                    <!-- /placeholder -->
                </div>
            </div>
        </div>
    </div>
    <!--Footer-->
    <vtex:template id="2018-plancton-footer" />
    <!--Footer-->

    <!--Scripts-->
    <vtex:template id="2018-scripts-plancton" />
    <!--Scripts-->
    <script>
        $("label.prefixo").prepend('<img src="https://i.imgur.com/mr9XQaw.png"/>');

        function changeText() {
            var botaoComprar = document.querySelector('.buy-button');
            botaoComprar.text = 'COMPRE JÁ';
        }

        $(document).ready(function () {
            changeText();
            $(".valor-dividido").insertAfter(".preco-a-vista");
            $('.shipping-value').trigger("click");
        });
    </script>
</body>

</html>